$base-color: #0D1B2A
$bg-color: #E0E1DD
body
    width: 100%
    height: auto
    max-width: 100%
    overflow-x: hidden
    background: $bg-color
.header
    width: 90%
    height: auto
    display: flex
    margin: 2% 5% 0% 5%
    justify-content: space-between
    .navContainer
        display: flex
        flex-direction: row 
        justify-content: flex-end
        .navElement
            padding: 10px
            font-weight: 500
            list-style-type: none

    .logo
        margin: auto 0px auto 0px
        float: left
        img
            width: 155px
            height: 55px
            float: left

.mainContentContainer
    width: 90%
    width: 90%
    height: auto
    display: flex
    margin: 0% 5% 0% 5%
    justify-content: center
    align-items: center
    flex-direction:  column
    .firstFrame
        width: 100%
        background:  url('../Imgs/bg1.svg') no-repeat top    
        background-size:  contain
        .content
            color: $base-color
            display: flex 
            text-align: center
            align-items: center
            min-width: 389px
            margin: 10% 23% 30% 23%
            
            flex-direction: column
            .title
                font-weight: 600px
                font-size: 40px
                text-align: center
                padding: 2px 4px
            .supTitle
                font-weight: 400px
                font-size: 24px
                padding: 2px 4px
            button:hover
                background-color: #E0E1DD
                color: $base-color
                transition: 0.3s
            button
                background: $base-color
                color: $bg-color
                border-radius: 40px
                border-color:#040507
                height: 68px
                margin: 0px 15px
                font-size: 18px
            .firstFrameBtn1
                width: 214px
                
            .firstFrameBtn2
                width: 156px
    .secondFrame 
        display: grid
        grid-gap: 20px
        grid-template-areas: 'a a b' 'c d d'
        justify-content: center
.contentItem1
    z-index: 1
    background: linear-gradient(90deg, rgba(133,133,133,0.5478524173341212) 10%, rgba(224,225,221,1) 100%)
    border-radius: 40px
    grid-area:  a
    width: 692px
    height: 305px
    
.contentItem2
    background: linear-gradient(90deg, rgba(133,133,133,0.5478524173341212) 10%, rgba(224,225,221,1) 100%)
    border-radius: 40px
    grid-area: b
    height: 305px
.contentItem3
    background: linear-gradient(90deg, rgba(133,133,133,0.5478524173341212) 10%, rgba(224,225,221,1) 100%)
    border-radius: 40px
    grid-area: c
    height: 305px
.contentItem4
    background: linear-gradient(90deg, rgba(133,133,133,0.5478524173341212) 10%, rgba(224,225,221,1) 100%)
    border-radius: 40px
    grid-area:  d
    width: 692px
    height: 305px
.secondFrameCategoryLink
    text-decoration: none
    color: black
    span
        text-decoration: underline
        text-underline-offset: 8px
.secondFrame_ContentConteinerShort
    width: 342px
    margin: 100px 120px 54px 24px
.secondFrame_ContentConteinerLong
    width: 342px
    margin: 100px 120px 54px 24px
.secondFrameTitle
    font-size: 32px
    font-weight: 38px
    padding: 7px